{
  "extends": [
      "airbnb-base",
      "prettier",
      "plugin:prettier/recommended"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": [
      "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
      "prettier/prettier": "error",
      "no-console": "warn",
      "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
      "no-restricted-syntax":"off"
  }
}
